*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,ol {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit; 
}

html,body {
    line-height: 1;
    height:100%;
}

body {
  font-family: "Rubik", sans-serif;
  color: #616161;
  font-size: 12px;
  line-height: 16px;
}

.container {
    max-width: 1080px;
    padding:0px 15px;
    margin: 0 auto;
}

.header {
    background-color:#FAFBFD;
    position: relative;
}

.header::before{
    content:"";
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    background-color: #EC5863;
    border-radius: 30px 0px 0px 30px;
    width:calc(50vw - 283px)
}

.header__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    padding: 37px 0px 48px 0px;
    position: relative;
    z-index:2;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    margin-left: auto;
    padding:0px 15px
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0px -20px -10px -20px;
}

.menu__list-item {
    padding:0px 20px;
    margin:0px 0px 10px 0px
}

.menu__link {
    font-family: "Raleway", sans-serif;
    color:#000;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    transition: opacity, 0.3s;
    letter-spacing: 2px;
}

@media (min-width: 992px) {
    .menu__link:hover {
        opacity: 0.5;
    }
}

.button {
    display: inline-block;
    padding:14px 30px;
    background: #EC5863;
    border-radius: 5px;
    color:#FCFDFE;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: background-color, 0.3s;
}


@media (min-width: 992px) {
    .button:hover {
        background-color: #b8353e;
    }  
}

.button--blue {
    background-color: #4285F4;
}


@media (min-width: 992px) {
    .button--blue:hover {
        background-color: #1c54ad;
    }  
}


.header__load-btn {
    margin-left: 145px;
}



@media (max-width: 991px) {
    .header__menu {
        margin-left:0 ;    
    }

    .header__load-btn {
        margin-left:0
    }

    .menu__list {
        margin:0px -15px -10px -15px;
    }
    
    .menu__list-item {
        padding:0px 15px;
    }
}

@media (max-width: 767px) {
    .header__inner {
        padding:20px 0px 30px 0px
    }
}



@media (max-width: 575px) {
    .header__menu {
        order:2;
        width:100%;
        display: flex;
        margin-top: 15px;
        justify-content: center;
        padding: 0;
    }

    .header__top {
        flex-wrap: wrap;
    }

}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 0px
}
.header__content-left {
    width: 480px;
    padding:0px 20px 0px 20px;
    flex-shrink: 0;
}
.header__title {
    margin: 0px 0px 12px 0px;
}

.title {
    font-size: 44px;
    line-height: 55px;
    font-weight: 700;
    color:#000;
}
.title__inner-text {
    color:#EC5863
}

.title__inner-text--blue {
    color:#4285F4
}

@media (max-width: 767px) {
    .title {
        font-size: 35px;
        line-height: 48px;
    }
}




.text {
    letter-spacing: 1px;
}

.header__text {
    margin: 0px 0px 24px 0px;
    width: 375px;
}

.header__content-right {
    width: 547px;
}
.header__img {
    max-width:100%
}

.header__bottom {
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 20px;
}
.header__video-link {
    margin:0px 12px 0px 0px 
}

.header__bottom-text1 {
    color: #B0B0B0;
    margin:0px 0px 5px 0px;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1px;
}

.header__bottom-text2 {
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 1px;
    color:#000;
    text-transform: uppercase;
}


@media (max-width: 991px) {
    .header::before {
        display: none;
    }

    .header__content-right {
        width:auto;
        max-width: 547px;
        margin-bottom: 20px;
    }

    .header__content {
        flex-direction: column-reverse;
    }
    .header__content-left {
        padding:0;
        text-align: center;
        width:auto;
        max-width: 450px;
    }

    .header__text {
        margin: 0px auto 24px auto;
        width:auto;
        max-width:375px
    }

    .header__bottom {
        padding: 0;
        margin: 0 auto;
    }
  
}


.safe {
    padding: 80px 0px;
}

.safe__inner {
    display: flex;
    align-items: center;
}

.safe__left {
    width:50%;
    padding:0px 20px 0px 50px 
}
.safe__app {
    padding: 56px 38px 27px 71px;
    position: relative;
    display: inline-block;
}

.safe__img-wrap {
    position: relative;
    z-index:5
}

.safe__img-wrap::before {
    content:"";
    background: rgba(240, 240, 240, 0.49);
    border-radius: 16px;
    width:90%;
    height: 27px;
    position:absolute;
    bottom:-12px;
    left:50%;
    transform: translate(-50%, 0);
}

.safe__img {
    max-width: 100%;
    position: relative;
    
}
.safe__item {
    position: absolute;
    top:0;
    left:0;
    width:147px;
    height: 147px;
    background-color: #EC5863;
    border-radius: 30px;
}

.safe__item--1 {
    top:auto;
    left:auto;
    right:0;
    bottom:110px;
    width:77px;
    height: 77px;
}

.safe__item--2 {
    top:auto;
    bottom:0;
    left:30px;
    width:77px;
    height: 77px;
}

.safe__right {
    width: 50%;
    padding:0px 0px 0px 10px
}
.safe__title {
    margin: 0px 0px 12px 0px;
    max-width: 375px;
}

.safe__text {
    margin: 0px 0px 24px 0px;
    max-width: 375px;
}

@media (max-width: 991px) { 
    .safe__left {
        padding:0px 30px 0px 0px
     }

     .safe__right {
        padding:0
     }
}


@media (max-width: 767px) {
    .safe {
        padding: 40px 0px;
    }

    .safe__inner {
        flex-wrap: wrap;
    }

    .safe__left {
        width:100%;
        padding:0;
        text-align: center;
    }

    .safe__app {
        padding: 56px 45px 27px 45px;
        
    }
    .safe__item--1 {
        right:10px;   
    }
    .safe__item--2 {  
        left:10px;
    }

    .safe__right {
        width:100%;
        order:-1;
        margin:0px 0px 30px 0px;
        text-align: center;
    }

    .safe__title {
        margin: 0px auto 12px auto;
    }

    .safe__text {
        margin: 0px auto 24px auto;
    } 
}


.experts {
    padding: 53px 0px 116px 0px;
    background-color: #FAFBFD;;
}
.experts__stats {
    margin:0px 0px 45px 0px
}

.stats__inner {
    padding:50px 60px 32px 60px;
    position: relative;
    margin: 0 auto;
    max-width: 760px;
}
.stats__content {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 16px;
    position: relative;
    z-index:10
}

.stats__col {
    padding:28px 0px;
}

.stats__num {
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color:#EC5863;
    margin: 0px 0px 5px 0px;
    letter-spacing: 4px;
}

.stats__desc {
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    color:#000;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.stats__item {
    position: absolute;
    left:40px;
    bottom:10px;
    width:65px;
    height: 65px;
    background-color: #EC5863;
    border-radius: 16px;
    transform: rotate(-30deg);
}

 .stats__item--1 {
    bottom:auto;
    top:13px;
    left:270px;
    width:97px;
    height: 97px;
    border-radius: 30px;
    transform: rotate(105deg);
}

.stats__item--2 {
    left:auto;
    right:15px;
    bottom:23px;
    width:127px;
    height: 127px;
    border-radius: 30px;
} 

.experts__inner {
    display: flex;
    align-items: center;
}

.experts__left {
    width:50%;
    padding:0px 20px 0px 40px
}
.experts__title {
    margin: 0px 0px 12px 0px;
    max-width: 370px;
}

.experts__text {
    margin: 0px 0px 24px 0px;
    max-width: 370px;
}

.experts__right {
    width:50%;
    padding:0px 0px 27% 0px;
    position: relative;
}

.experts__right  iframe{
    position: absolute;
    top:0;
    /* left:0; */
    right:15px;
    width:100%;
    height:100%;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
}

@media (max-width: 991px) { 
    .experts__left {
        padding:0px 30px 0px 0px
    }

    .experts__right  iframe{
        right:0px
    }
}


@media (max-width: 767px) {

    .experts {
        padding: 25px 0px 55px 0px;
    }


    .stats__col {
         width:50%;
    }

    .stats__content {
        flex-wrap: wrap;
        
    }

    .experts__inner {
        flex-wrap: wrap;
        text-align: center;
    }

    .experts__title {
        margin: 0px auto 12px auto;
    }

    .experts__text {
        margin: 0px auto 24px auto;
    }


    .experts__left {
        width:100%;
        padding: 0;
        margin-bottom: 30px;
    }

    .experts__right {
        width: 100%;
        padding:0px 0px 54% 0px;
    }


}

@media (max-width: 575px) {

    .stats__col {
         width:100%;
    }

    .stats__inner {
        padding:50px 15px 32px 15px;
    }

    .stats__item {
        left:5px
    }
    
     .stats__item--1 {
        left:100px
    }
    
    .stats__item--2 {
       left:auto;
       right:10px;
       bottom:0px
    } 

}

.care {
    padding:80px 0px 50px 0px;
    text-align: center;
    overflow: hidden;
}

.care__main-title {
    max-width: 770px;
    margin: 0px auto 14px auto;
}

.care__main-text {
    max-width:  600px;
    margin: 0px auto 46px auto;
}

.care__inner {
    display: flex;
    justify-content: space-between;
    max-width: 978px;
    margin: 0px auto 0px auto;
    position: relative;
}


.care__col {
    padding: 37px 18px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
    width:278px;
    position: relative;
    z-index:2
}


.care__img {
    margin: 0px 0px 58px 0px;
}


.care__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color:#000;
    letter-spacing: 1px;
    margin: 0px 0px 5px 0px;
}

.care__item {
    width:65px;
    height: 65px;
    position: absolute;
    background-color: #EC5863;
    border-radius: 16px;
    transform: rotate(-30deg);
    bottom:-32px;
    left:-18px
}
.care__item--1 {
    width: 96px;
    height: 96px;
    border-radius: 30px;
    transform: rotate(105deg);
    bottom:auto;
    top:40px;
    left:230px
}

.care__item--2 {
    width: 127px;
    height: 127px;
    border-radius: 30px;
    left:auto;
    right:270px;
    bottom:-20px
}
.care__item--3 {
    left:auto;
    bottom: auto;
    right:-18px;
    top:-32px

}


@media (max-width: 991px) { 
    .care__inner {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 660px;
    }


    .care__col:first-child {
        margin:0px 30px 0px 0px
    }

    .care__col:nth-child(3) {
        margin:30px 0px 0px 0px
    }


    .care__item {
        left:20px;
        top:230px
    }

    .care__item--1 {
        top:40px;
        left:240px
    }

    .care__item--2 {
        left:auto;
        top:auto;
        right:140px;
    }

    .care__item--3 {
        top:-22px;
        left:auto;
        right:10px;
    }
} 


@media (max-width: 767px) { 
    .care {
        padding:40px 0px 40px 0px
    }
    .care__col {
        width: 100%;
    }

    .care__col:not(:nth-child(3)) {
        margin:0px 0px 30px 0px
    }

    .care__col:nth-child(3) {
        margin:0
    }

    .care__item--1 {
        top:auto;
        left:auto;
        right:-20px;
        bottom:270px
    }
} 


.footer {
    padding: 25px 0px 50px 0px ;
    text-align: center;
}

.footer__container {
    margin:0px auto -20px auto
}

.footer__link {
    display: inline-block;
    max-width: 160px;
    margin:0px  31px 20px 31px;
    vertical-align: middle;
    
}

.footer__link img {
    max-width: 100%;
}

@media (max-width: 767px) { 
    .footer {
        padding: 25px 0px 25px 0px;
    }
} 















